# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
ENV/
bin/
lib/
include/

# PyInstaller / Executable Build Files
build/
dist/
*.spec

# Personal / Private Data (Crucial for payslips)
*.pdf
*.zip
temp_extracted/

# IDE / Editor Settings
.vscode/
.idea/
.project
.pydevproject

# System Files
.DS_Store
Thumbs.db